*{
	margin: 0;
	padding: 0;
	outline: 0;
}

body{

	font-family: Arial;
	font-size: 16px;
	color: #000;
	background: #fff;
   

}


.Wrepper{
	margin: 0 auto;
	width: 960px;
    display: block;
    overflow: hidden;

}

.header{
	height: 100px;
	background: #8c2b5e;
}
.nav{
	
	background: #601948;


}

.nav ul {
    overflow: hidden;
    list-style: none;
    /* padding: 46px; */
    display: block;
}
.nav ul li{
	
	
    

}
.nav ul li a {
    float: left;
    padding: 12px;
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-family: revert;
    /* padding-left: 54px; */
    border-right: 1px solid #c2baba;
}

.nav ul li a:hover{
    float: left;
    padding: 12px;
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-family: revert;
    /* padding-left: 54px; */
    border-right: 1px solid #c2baba;
    background: #c9659a;
}

.main {
    
    background: #fff;
    display: block;
    overflow: hidden;
    margin-bottom: 20px;
}
.maincontent {
  
    width: 610px;
    background: #8c2b5e12;
    float: left;
    display: block;
    overflow: hidden;
    margin: 20px;
    margin-left: 0;
    padding: 20px;
}
.sidebar {
   width: 287px;

    background: #8c2b5e12;
 /*  float: right; */
    display: block;
    overflow: hidden;
    margin: 20px 0;
    /* margin-right: 0; */
}

.footer {
    background: #8c2b5e;
    padding: 20px;
    /* margin-top: 18px; */
    padding-top: 30px;
}

.ffour{

}
.fnav ul{}
.fnav ul li {
    list-style: none;
    /* margin-left: 10%; */
}
.fnav ul a {
    text-decoration: none;
    color: #fff;
    line-height: 30px;
}

.footerW{}

.fone {
    width: 340px;
    float: left;
    display: block;
    overflow: hidden;
}
.ftwo {
    width: 160px;
    float: left;
    display: block;
    overflow: hidden;
}
.fthree {
    width: 160px;
    float: left;
    overflow: hidden;
    display: block;
    margin-left: 88px;
}
.ffour {
     width: 160px;
    float: right;
    overflow: hidden;
    display: block;
}
.fone img {
    width: 200px;
}
.footerpera {
    color: #fff;
    font-family: arial;
    font-size: 16px;
    line-height: 22px;
}

.logo{
width: 25%;
float: left;
overflow: hidden;

}

.icon img{
    height: 43px;
}

.icon {
    /* display: block; */
    /* overflow: hidden; */
    float: right;
    margin-top: 25px;
    margin: 25px 25px;
}


.sidebar1 {
    font-size: 18px;
    padding: 8px;
    border-bottom: 1px solid #444;
    text-align: center;
    background: #8c2b5e;
    color: #e0dede;
    font-family: revert;
    font-size: justify;
}

.pera {
    padding: 14px;
    font-size: 16px;
    font-family: arial;
    font-size: just;
    text-align: justify;
}

.fa {
    color: #ffffff;
    font-size: 22px !important;
}

.maincontent img {
    width: 220px;
    float: left;
    margin-right: 15px;
}

.maincontent h1 {
    /* width: 0px; */
    font-size: 20px;
    padding: 10px;
    border-bottom: 2px solid #a7a7a7;
    color:#8c2b5e ;
}

.maincontent p {
    font-size: 18px;
    font-family: arial;
    color: #000;
    padding: 14px;
    text-align: justify;
}

.rd{
  
}

.rd a {
    text-decoration: none;
    color: #fff;
    border-bottom: 2px solid #c5c5c5;
    background: #8c2b5e;
    padding: 6px 15px;
    border-radius: 6px;
    font-size: 16px;
    /* box-shadow: -2px 8px 5px -1px; */
    /* border-bottom: 2px solid; */
}












